<div class="comments">
  <% if  @article.comments.except(@new_comment).length > 0%>
      <h2>Comments<small> : <%= @article.comments.except(@new_comment).length %> </small></h2>
      <% @article_comments.each do |comment| %>
        <p>
          <%= comment.created_at.to_s(:short) %> <strong><%= comment.name %></strong>: <q><%= comment.body %></q>
          &nbsp;&nbsp;&nbsp; -
          <%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
  <% end %>

  <% if @article.comments.except(@new_comment).length > 3 %>
    <div class="comments-pagination" >
    <hr>
      <%= paginate @article_comments %>
    <hr>
    </div>
  <% end %>

</div>

<br />

<h2>Add comment</h2>
<%= simple_form_for([@article, @new_comment]) do |f| %>
    <%= f.input :name %>
    <%= f.input :body %>
    <%= f.button :button, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-pencil"></i>&nbsp;
      Add comment
    <% end %>

<% end %>
