<%= simple_form_for @article do |f| %>
  <p> <%= f.input :title %> </p>
  <p> <%= f.input :caption %> </p>
  <p> <%= f.input :body, as: :wysihtml5, wysihtml5: {
                              locale: I18n.locale,
                              toolbar: {
                                'font-styles': false,
                                'color': false,
                                'emphasis': true,
                                'blockquote': false,
                                'lists': true,
                                'html': true,
                                'link': true,
                                'image': true,
                                'smallmodals': false
                              }}  %> </p>
  <p> <%= f.input :image, as: :file %> </p>
  <p>
    <%= f.button :button, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-pencil"></i>
      Save
    <% end %>
  </p>
<% end %>
