<p id="notice"> <%= notice %> </p>
<div class "jumbotron">
  <div class="container">
    <div class="page-header">
      <h1> Articles </h1>
      <%= link_to 'New article', new_article_path, :class => 'btn btn-success btn-lg btn-right' %>
    </div>

<div class="row">

    <% @articles.each do |article| %>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">

            <div class="caption">
              <h3> <%= article.title %> </h3>
              <p> <%= article.caption %> </p>
              <p> <%= link_to 'Detail', article, :class => 'btn btn-default btn-ms' %> </p>
            </div>
          </div>
        </div>
    <% end %>
</div>
    <br />

    <center> <%= paginate @articles, :theme => 'twitter-bootstrap-3' %> </center>

  </div>
</div>
