<div class "jumbotron">
  <div class="container">
    <div class="page-header">
      <h1> <%= @article.title %></h1>
      <h1><small> <%= @article.caption %> </small></h1>
    </div>

    <%= image_tag @article.image.thumb("300x200#").url, class:"col-xs-4 img-responsive article-image" if @article.image_stored? %>
    <div class="lead text-justify article-text"> <%= raw(@article.body) %> </div>

    <div class="btn-toolbar article-button-bar" role="toolbar">
      <div class="btn-group" role="group">
        <%= link_to 'Back to articles', articles_path, :class => 'btn btn-primary' %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-warning' %>
        <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
