<p id="notice"> <%= notice %></p>
<div class "jumbotron">
  <div class="container">
    <div class="page-header">
      <h1> <%= @article.title %> <small> <%= @article.caption %> </small></h1>
    </div>

    <p> <%= @article.body %> </p>

    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <%= link_to 'Back to articles', articles_path, :class => 'btn btn-primary' %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-warning' %>
        <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
